:root{--scale-x-sm:1;--scale-sm:1;--scale-md:1;--scale-big:1;--scale-x-big:1;--insets--xx-sm:calc(0.25rem * var(--scale-x-sm));--insets--x-sm:calc(0.5rem * var(--scale-x-sm));--insets--sm:calc(0.75rem * var(--scale-x-sm));--insets--md:calc(1rem * var(--scale-x-sm));--insets--big:calc(1.25rem * var(--scale-sm));--insets--x-big:calc(1.5rem * var(--scale-sm));--insets--xx-big:calc(1.75rem * var(--scale-sm));--insets--xxx-big:calc(2rem * var(--scale-md));--insets--lg:calc(2.5rem * var(--scale-big));--insets--x-lg:calc(3rem * var(--scale-big));--insets--xx-lg:calc(4rem * var(--scale-x-big));--insets--xxx-lg:calc(5rem * var(--scale-x-big));--insets--huge:calc(6rem * var(--scale-x-big));--insets--x-huge:calc(8rem * var(--scale-x-big));--insets--xx-huge:calc(10rem * var(--scale-x-big));--insets--xxx-huge:calc(12rem * var(--scale-x-big));--size--container-width:90rem;--typography--display1:clamp(3.875rem, 3.604rem + 1.1561vi, 4.5rem);--typography--display2:clamp(2.25rem, 1.3869rem + 4.3155vw, 4.0625rem);--typography--h1:clamp(2.5rem, 2.1749rem + 1.3873vi, 3.25rem);--typography--h2:clamp(2.25rem, 1.9249rem + 1.3873vi, 3rem);--typography--h3:clamp(2rem, 1.7832rem + 0.9249vi, 2.5rem);--typography--h4:clamp(1.5rem, 1.2832rem + 0.9249vi, 2rem);--typography--h5:clamp(1.25rem, 1.1416rem + 0.4624vi, 1.5rem);--typography--h6:clamp(1.125rem, 1.0708rem + 0.2312vi, 1.25rem);--massive-type:clamp(8rem, 7.0476rem + 4.7619vw, 10rem)}
@media screen and (max-width:480px){
:root{--scale-x-sm:1;--scale-sm:0.8;--scale-md:0.75;--scale-big:0.6;--scale-x-big:0.5}
}
@media screen and (max-width:768px){
:root{--scale-x-sm:1;--scale-sm:0.8;--scale-md:0.75;--scale-big:0.6;--scale-x-big:0.5}
}
@media screen and (max-width:992px){
:root{--scale-x-sm:1;--scale-sm:0.8;--scale-md:0.75;--scale-big:0.75;--scale-x-big:0.75}
}
body{-moz-osx-font-smoothing:grayscale;text-rendering:optimizeLegibility;font-smoothing:antialiased;-webkit-font-smoothing:antialiased}
a{color:inherit;text-decoration:unset}
img{width:100%;max-width:100%;height:100%;max-height:100%;object-fit:cover}
footer,header,section{position:relative}
[class*=cnt]{position:relative;width:100%;max-width:var(--size--container-width);margin-right:auto;margin-left:auto;padding-left:var(--insets--xx-lg);padding-right:var(--insets--xx-lg);padding-top:var(--insets--xx-huge);padding-bottom:var(--insets--xx-huge)}
[class*=glp]{padding-left:var(--insets--xx-lg);padding-right:var(--insets--xx-lg)}
@media screen and (max-width:768px){
[class*=cnt]{padding-left:var(--insets--md);padding-right:var(--insets--md);padding-top:var(--insets--xx-huge);padding-bottom:var(--insets--xx-huge)}
[class*=glp]{padding-left:var(--insets--md);padding-right:var(--insets--md)}
}
[class*=fxv]{display:flex;flex-direction:column}
[class*=fxh]{display:flex;flex-direction:row}
[class*=grd]{display:grid;grid-template-columns:repeat(var(--cc),minmax(0,1fr));grid-template-rows:auto;--cc:1;--ct:auto;--cs:1;--rs:1}
[class*=grd]>*{grid-column-start:var(--ct)!important;grid-column-end:span var(--cs)!important;grid-row-start:auto!important;grid-row-end:span var(--rs)!important}
[class*=cp1]{--cc:1}
[class*=cp2]{--cc:2}
[class*=cp3]{--cc:3}
[class*=cp4]{--cc:4}
[class*=cp5]{--cc:5}
[class*=cp6]{--cc:6}
[class*=cp7]{--cc:7}
[class*=cp8]{--cc:8}
[class*=cp9]{--cc:9}
[class*=cp10]{--cc:10}
[class*=cp11]{--cc:11}
[class*=cp12]{--cc:12}
[class*=cp13]{--cc:13}
[class*=cp14]{--cc:14}
[class*=cp15]{--cc:15}
[class*=cp16]{--cc:16}
[class*=cp17]{--cc:17}
[class*=cp18]{--cc:18}
[class*=cp19]{--cc:19}
[class*=cp20]{--cc:20}
[class*=cp21]{--cc:21}
[class*=cp22]{--cc:22}
[class*=cp23]{--cc:23}
[class*=cp24]{--cc:24}
[class*=grd]>[class*=cp1]{--cs:1}
[class*=grd]>[class*=cp2]{--cs:2}
[class*=grd]>[class*=cp3]{--cs:3}
[class*=grd]>[class*=cp4]{--cs:4}
[class*=grd]>[class*=cp5]{--cs:5}
[class*=grd]>[class*=cp6]{--cs:6}
[class*=grd]>[class*=cp7]{--cs:7}
[class*=grd]>[class*=cp8]{--cs:8}
[class*=grd]>[class*=cp9]{--cs:9}
[class*=grd]>[class*=cp10]{--cs:10}
[class*=grd]>[class*=cp11]{--cs:11}
[class*=grd]>[class*=cp12]{--cs:12}
[class*=grd]>[class*=cp13]{--cs:13}
[class*=grd]>[class*=cp14]{--cs:14}
[class*=grd]>[class*=cp15]{--cs:15}
[class*=grd]>[class*=cp16]{--cs:16}
[class*=grd]>[class*=cp17]{--cs:17}
[class*=grd]>[class*=cp18]{--cs:18}
[class*=grd]>[class*=cp19]{--cs:19}
[class*=grd]>[class*=cp20]{--cs:20}
[class*=grd]>[class*=cp21]{--cs:21}
[class*=grd]>[class*=cp22]{--cs:22}
[class*=grd]>[class*=cp23]{--cs:23}
[class*=grd]>[class*=cp24]{--cs:24}
[class*=rp1]{--rs:1}
[class*=rp2]{--rs:2}
[class*=rp3]{--rs:3}
[class*=rp4]{--rs:4}
[class*=rp5]{--rs:5}
[class*=rp6]{--rs:6}
[class*=rp7]{--rs:7}
[class*=rp8]{--rs:8}
[class*=rp9]{--rs:9}
[class*=rp10]{--rs:10}
[class*=rp11]{--rs:11}
[class*=rp12]{--rs:12}
[class*=sp1]{--ct:1}
[class*=sp2]{--ct:2}
[class*=sp3]{--ct:3}
[class*=sp4]{--ct:4}
[class*=sp5]{--ct:5}
[class*=sp6]{--ct:6}
[class*=sp7]{--ct:7}
[class*=sp8]{--ct:8}
[class*=sp9]{--ct:9}
[class*=sp10]{--ct:10}
[class*=sp11]{--ct:11}
[class*=sp12]{--ct:12}
[class*=sp13]{--ct:13}
[class*=sp14]{--ct:14}
[class*=sp15]{--ct:15}
[class*=sp16]{--ct:16}
[class*=sp17]{--ct:17}
[class*=sp18]{--ct:18}
[class*=sp19]{--ct:19}
[class*=sp20]{--ct:20}
[class*=sp21]{--ct:21}
[class*=sp22]{--ct:22}
[class*=sp23]{--ct:23}
[class*=sp24]{--ct:24}
[class*=sp0]{--ct:auto}
[class*=op1]{order:-1}
[class*=op2]{order:1}
[class*=op0]{order:0}
@media screen and (min-width:480px){
[class*=cl1]{--cc:1}
[class*=cl2]{--cc:2}
[class*=cl3]{--cc:3}
[class*=cl4]{--cc:4}
[class*=cl5]{--cc:5}
[class*=cl6]{--cc:6}
[class*=cl7]{--cc:7}
[class*=cl8]{--cc:8}
[class*=cl9]{--cc:9}
[class*=cl10]{--cc:10}
[class*=cl11]{--cc:11}
[class*=cl12]{--cc:12}
[class*=cl13]{--cc:13}
[class*=cl14]{--cc:14}
[class*=cl15]{--cc:15}
[class*=cl16]{--cc:16}
[class*=cl17]{--cc:17}
[class*=cl18]{--cc:18}
[class*=cl19]{--cc:19}
[class*=cl20]{--cc:20}
[class*=cl21]{--cc:21}
[class*=cl22]{--cc:22}
[class*=cl23]{--cc:23}
[class*=cl24]{--cc:24}
[class*=grd]>[class*=cl1]{--cs:1}
[class*=grd]>[class*=cl2]{--cs:2}
[class*=grd]>[class*=cl3]{--cs:3}
[class*=grd]>[class*=cl4]{--cs:4}
[class*=grd]>[class*=cl5]{--cs:5}
[class*=grd]>[class*=cl6]{--cs:6}
[class*=grd]>[class*=cl7]{--cs:7}
[class*=grd]>[class*=cl8]{--cs:8}
[class*=grd]>[class*=cl9]{--cs:9}
[class*=grd]>[class*=cl10]{--cs:10}
[class*=grd]>[class*=cl11]{--cs:11}
[class*=grd]>[class*=cl12]{--cs:12}
[class*=grd]>[class*=cl13]{--cs:13}
[class*=grd]>[class*=cl14]{--cs:14}
[class*=grd]>[class*=cl15]{--cs:15}
[class*=grd]>[class*=cl16]{--cs:16}
[class*=grd]>[class*=cl17]{--cs:17}
[class*=grd]>[class*=cl18]{--cs:18}
[class*=grd]>[class*=cl19]{--cs:19}
[class*=grd]>[class*=cl20]{--cs:20}
[class*=grd]>[class*=cl21]{--cs:21}
[class*=grd]>[class*=cl22]{--cs:22}
[class*=grd]>[class*=cl23]{--cs:23}
[class*=grd]>[class*=cl24]{--cs:24}
[class*=rl1]{--rs:1}
[class*=rl2]{--rs:2}
[class*=rl3]{--rs:3}
[class*=rl4]{--rs:4}
[class*=rl5]{--rs:5}
[class*=rl6]{--rs:6}
[class*=rl7]{--rs:7}
[class*=rl8]{--rs:8}
[class*=rl9]{--rs:9}
[class*=rl10]{--rs:10}
[class*=rl11]{--rs:11}
[class*=rl12]{--rs:12}
[class*=sl1]{--ct:1}
[class*=sl2]{--ct:2}
[class*=sl3]{--ct:3}
[class*=sl4]{--ct:4}
[class*=sl5]{--ct:5}
[class*=sl6]{--ct:6}
[class*=sl7]{--ct:7}
[class*=sl8]{--ct:8}
[class*=sl9]{--ct:9}
[class*=sl10]{--ct:10}
[class*=sl11]{--ct:11}
[class*=sl12]{--ct:12}
[class*=sl13]{--ct:13}
[class*=sl14]{--ct:14}
[class*=sl15]{--ct:15}
[class*=sl16]{--ct:16}
[class*=sl17]{--ct:17}
[class*=sl18]{--ct:18}
[class*=sl19]{--ct:19}
[class*=sl20]{--ct:20}
[class*=sl21]{--ct:21}
[class*=sl22]{--ct:22}
[class*=sl23]{--ct:23}
[class*=sl24]{--ct:24}
[class*=sl0]{--ct:auto}
[class*=ol1]{order:-1}
[class*=ol2]{order:1}
[class*=ol0]{order:0}
}
@media screen and (min-width:768px){
[class*=ct1]{--cc:1}
[class*=ct2]{--cc:2}
[class*=ct3]{--cc:3}
[class*=ct4]{--cc:4}
[class*=ct5]{--cc:5}
[class*=ct6]{--cc:6}
[class*=ct7]{--cc:7}
[class*=ct8]{--cc:8}
[class*=ct9]{--cc:9}
[class*=ct10]{--cc:10}
[class*=ct11]{--cc:11}
[class*=ct12]{--cc:12}
[class*=ct13]{--cc:13}
[class*=ct14]{--cc:14}
[class*=ct15]{--cc:15}
[class*=ct16]{--cc:16}
[class*=ct17]{--cc:17}
[class*=ct18]{--cc:18}
[class*=ct19]{--cc:19}
[class*=ct20]{--cc:20}
[class*=ct21]{--cc:21}
[class*=ct22]{--cc:22}
[class*=ct23]{--cc:23}
[class*=ct24]{--cc:24}
[class*=grd]>[class*=ct1]{--cs:1}
[class*=grd]>[class*=ct2]{--cs:2}
[class*=grd]>[class*=ct3]{--cs:3}
[class*=grd]>[class*=ct4]{--cs:4}
[class*=grd]>[class*=ct5]{--cs:5}
[class*=grd]>[class*=ct6]{--cs:6}
[class*=grd]>[class*=ct7]{--cs:7}
[class*=grd]>[class*=ct8]{--cs:8}
[class*=grd]>[class*=ct9]{--cs:9}
[class*=grd]>[class*=ct10]{--cs:10}
[class*=grd]>[class*=ct11]{--cs:11}
[class*=grd]>[class*=ct12]{--cs:12}
[class*=grd]>[class*=ct13]{--cs:13}
[class*=grd]>[class*=ct14]{--cs:14}
[class*=grd]>[class*=ct15]{--cs:15}
[class*=grd]>[class*=ct16]{--cs:16}
[class*=grd]>[class*=ct17]{--cs:17}
[class*=grd]>[class*=ct18]{--cs:18}
[class*=grd]>[class*=ct19]{--cs:19}
[class*=grd]>[class*=ct20]{--cs:20}
[class*=grd]>[class*=ct21]{--cs:21}
[class*=grd]>[class*=ct22]{--cs:22}
[class*=grd]>[class*=ct23]{--cs:23}
[class*=grd]>[class*=ct24]{--cs:24}
[class*=rt1]{--rs:1}
[class*=rt2]{--rs:2}
[class*=rt3]{--rs:3}
[class*=rt4]{--rs:4}
[class*=rt5]{--rs:5}
[class*=rt6]{--rs:6}
[class*=rt7]{--rs:7}
[class*=rt8]{--rs:8}
[class*=rt9]{--rs:9}
[class*=rt10]{--rs:10}
[class*=rt11]{--rs:11}
[class*=rt12]{--rs:12}
[class*=st1]{--ct:1}
[class*=st2]{--ct:2}
[class*=st3]{--ct:3}
[class*=st4]{--ct:4}
[class*=st5]{--ct:5}
[class*=st6]{--ct:6}
[class*=st7]{--ct:7}
[class*=st8]{--ct:8}
[class*=st9]{--ct:9}
[class*=st10]{--ct:10}
[class*=st11]{--ct:11}
[class*=st12]{--ct:12}
[class*=st13]{--ct:13}
[class*=st14]{--ct:14}
[class*=st15]{--ct:15}
[class*=st16]{--ct:16}
[class*=st17]{--ct:17}
[class*=st18]{--ct:18}
[class*=st19]{--ct:19}
[class*=st20]{--ct:20}
[class*=st21]{--ct:21}
[class*=st22]{--ct:22}
[class*=st23]{--ct:23}
[class*=st24]{--ct:24}
[class*=st0]{--ct:auto}
[class*=ot1]{order:-1}
[class*=ot2]{order:1}
[class*=ot0]{order:0}
}
@media screen and (min-width:992px){
[class*=cd1]{--cc:1}
[class*=cd2]{--cc:2}
[class*=cd3]{--cc:3}
[class*=cd4]{--cc:4}
[class*=cd5]{--cc:5}
[class*=cd6]{--cc:6}
[class*=cd7]{--cc:7}
[class*=cd8]{--cc:8}
[class*=cd9]{--cc:9}
[class*=cd10]{--cc:10}
[class*=cd11]{--cc:11}
[class*=cd12]{--cc:12}
[class*=cd13]{--cc:13}
[class*=cd14]{--cc:14}
[class*=cd15]{--cc:15}
[class*=cd16]{--cc:16}
[class*=cd17]{--cc:17}
[class*=cd18]{--cc:18}
[class*=cd19]{--cc:19}
[class*=cd20]{--cc:20}
[class*=cd21]{--cc:21}
[class*=cd22]{--cc:22}
[class*=cd23]{--cc:23}
[class*=cd24]{--cc:24}
[class*=grd]>[class*=cd1]{--cs:1}
[class*=grd]>[class*=cd2]{--cs:2}
[class*=grd]>[class*=cd3]{--cs:3}
[class*=grd]>[class*=cd4]{--cs:4}
[class*=grd]>[class*=cd5]{--cs:5}
[class*=grd]>[class*=cd6]{--cs:6}
[class*=grd]>[class*=cd7]{--cs:7}
[class*=grd]>[class*=cd8]{--cs:8}
[class*=grd]>[class*=cd9]{--cs:9}
[class*=grd]>[class*=cd10]{--cs:10}
[class*=grd]>[class*=cd11]{--cs:11}
[class*=grd]>[class*=cd12]{--cs:12}
[class*=grd]>[class*=cd13]{--cs:13}
[class*=grd]>[class*=cd14]{--cs:14}
[class*=grd]>[class*=cd15]{--cs:15}
[class*=grd]>[class*=cd16]{--cs:16}
[class*=grd]>[class*=cd17]{--cs:17}
[class*=grd]>[class*=cd18]{--cs:18}
[class*=grd]>[class*=cd19]{--cs:19}
[class*=grd]>[class*=cd20]{--cs:20}
[class*=grd]>[class*=cd21]{--cs:21}
[class*=grd]>[class*=cd22]{--cs:22}
[class*=grd]>[class*=cd23]{--cs:23}
[class*=grd]>[class*=cd24]{--cs:24}
[class*=rd1]{--rs:1}
[class*=rd2]{--rs:2}
[class*=rd3]{--rs:3}
[class*=rd4]{--rs:4}
[class*=rd5]{--rs:5}
[class*=rd6]{--rs:6}
[class*=rd7]{--rs:7}
[class*=rd8]{--rs:8}
[class*=rd9]{--rs:9}
[class*=rd10]{--rs:10}
[class*=rd11]{--rs:11}
[class*=rd12]{--rs:12}
[class*=sd1]{--ct:1}
[class*=sd2]{--ct:2}
[class*=sd3]{--ct:3}
[class*=sd4]{--ct:4}
[class*=sd5]{--ct:5}
[class*=sd6]{--ct:6}
[class*=sd7]{--ct:7}
[class*=sd8]{--ct:8}
[class*=sd9]{--ct:9}
[class*=sd10]{--ct:10}
[class*=sd11]{--ct:11}
[class*=sd12]{--ct:12}
[class*=sd13]{--ct:13}
[class*=sd14]{--ct:14}
[class*=sd15]{--ct:15}
[class*=sd16]{--ct:16}
[class*=sd17]{--ct:17}
[class*=sd18]{--ct:18}
[class*=sd19]{--ct:19}
[class*=sd20]{--ct:20}
[class*=sd21]{--ct:21}
[class*=sd22]{--ct:22}
[class*=sd23]{--ct:23}
[class*=sd24]{--ct:24}
[class*=sd0]{--ct:auto}
[class*=od1]{order:-1}
[class*=od2]{order:1}
[class*=od0]{order:0}
}
[class*=jcs]{justify-content:flex-start}
[class*=jcc]{justify-content:center}
[class*=jce]{justify-content:flex-end}
[class*=jcb]{justify-content:space-between}
[class*=jca]{justify-content:space-around}
[class*=acs]{align-items:flex-start}
[class*=acc]{align-items:center}
[class*=ace]{align-items:flex-end}
[class*=acf]{align-items:stretch}
[class*=acb]{align-items:baseline}
[class*=gp1]{grid-column-gap:var(--insets--x-sm);grid-row-gap:var(--insets--x-sm)}
[class*=gp2]{grid-column-gap:var(--insets--md);grid-row-gap:var(--insets--md)}
[class*=gp3]{grid-column-gap:var(--insets--x-big);grid-row-gap:var(--insets--x-big)}
[class*=gp4]{grid-column-gap:var(--insets--xxx-big);grid-row-gap:var(--insets--xxx-big)}
[class*=gp5]{grid-column-gap:var(--insets--x-lg);grid-row-gap:var(--insets--x-lg)}
[class*=gp6]{grid-column-gap:var(--insets--xx-lg);grid-row-gap:var(--insets--xx-lg)}
[class*=gp7]{grid-column-gap:var(--insets--xxx-lg);grid-row-gap:var(--insets--xxx-lg)}
[class*=gp8]{grid-column-gap:var(--insets--x-huge);grid-row-gap:var(--insets--x-huge)}
[class*=mt00]{margin-top:0}
[class*=mt01]{margin-top:var(--insets--xx-sm)}
[class*=mt02]{margin-top:var(--insets--x-sm)}
[class*=mt03]{margin-top:var(--insets--sm)}
[class*=mt04]{margin-top:var(--insets--md)}
[class*=mt05]{margin-top:var(--insets--big)}
[class*=mt06]{margin-top:var(--insets--x-big)}
[class*=mt07]{margin-top:var(--insets--xx-big)}
[class*=mt08]{margin-top:var(--insets--xxx-big)}
[class*=mt09]{margin-top:var(--insets--lg)}
[class*=mt10]{margin-top:var(--insets--x-lg)}
[class*=mt11]{margin-top:var(--insets--xx-lg)}
[class*=mt12]{margin-top:var(--insets--xxx-lg)}
[class*=mt13]{margin-top:var(--insets--huge)}
[class*=mt14]{margin-top:var(--insets--x-huge)}
[class*=mt15]{margin-top:var(--insets--xx-huge)}
[class*=mt16]{margin-top:var(--insets--xxx-huge)}
[class*=mb00]{margin-bottom:0}
[class*=mb01]{margin-bottom:var(--insets--xx-sm)}
[class*=mb02]{margin-bottom:var(--insets--x-sm)}
[class*=mb03]{margin-bottom:var(--insets--sm)}
[class*=mb04]{margin-bottom:var(--insets--md)}
[class*=mb05]{margin-bottom:var(--insets--big)}
[class*=mb06]{margin-bottom:var(--insets--x-big)}
[class*=mb07]{margin-bottom:var(--insets--xx-big)}
[class*=mb08]{margin-bottom:var(--insets--xxx-big)}
[class*=mb09]{margin-bottom:var(--insets--lg)}
[class*=mb10]{margin-bottom:var(--insets--x-lg)}
[class*=mb11]{margin-bottom:var(--insets--xx-lg)}
[class*=mb12]{margin-bottom:var(--insets--xxx-lg)}
[class*=mb13]{margin-bottom:var(--insets--huge)}
[class*=mb14]{margin-bottom:var(--insets--x-huge)}
[class*=mb15]{margin-bottom:var(--insets--xx-huge)}
[class*=mb16]{margin-bottom:var(--insets--xxx-huge)}
[class*=mr00]{margin-right:0}
[class*=mr01]{margin-right:var(--insets--xx-sm)}
[class*=mr02]{margin-right:var(--insets--x-sm)}
[class*=mr03]{margin-right:var(--insets--sm)}
[class*=mr04]{margin-right:var(--insets--md)}
[class*=mr05]{margin-right:var(--insets--big)}
[class*=mr06]{margin-right:var(--insets--x-big)}
[class*=mr07]{margin-right:var(--insets--xx-big)}
[class*=mr08]{margin-right:var(--insets--xxx-big)}
[class*=mr09]{margin-right:var(--insets--lg)}
[class*=mr10]{margin-right:var(--insets--x-lg)}
[class*=mr11]{margin-right:var(--insets--xx-lg)}
[class*=mr12]{margin-right:var(--insets--xxx-lg)}
[class*=mr13]{margin-right:var(--insets--huge)}
[class*=mr14]{margin-right:var(--insets--x-huge)}
[class*=mr15]{margin-right:var(--insets--xx-huge)}
[class*=mr16]{margin-right:var(--insets--xxx-huge)}
[class*=ml00]{margin-left:0}
[class*=ml01]{margin-left:var(--insets--xx-sm)}
[class*=ml02]{margin-left:var(--insets--x-sm)}
[class*=ml03]{margin-left:var(--insets--sm)}
[class*=ml04]{margin-left:var(--insets--md)}
[class*=ml05]{margin-left:var(--insets--big)}
[class*=ml06]{margin-left:var(--insets--x-big)}
[class*=ml07]{margin-left:var(--insets--xx-big)}
[class*=ml08]{margin-left:var(--insets--xxx-big)}
[class*=ml09]{margin-left:var(--insets--lg)}
[class*=ml10]{margin-left:var(--insets--x-lg)}
[class*=ml11]{margin-left:var(--insets--xx-lg)}
[class*=ml12]{margin-left:var(--insets--xxx-lg)}
[class*=ml13]{margin-left:var(--insets--huge)}
[class*=ml14]{margin-left:var(--insets--x-huge)}
[class*=ml15]{margin-left:var(--insets--xx-huge)}
[class*=ml16]{margin-left:var(--insets--xxx-huge)}
[class*=mv00]{margin-top:0;margin-bottom:0}
[class*=mv02]{margin-top:var(--insets--x-sm);margin-bottom:var(--insets--x-sm)}
[class*=mv03]{margin-top:var(--insets--sm);margin-bottom:var(--insets--sm)}
[class*=mv04]{margin-top:var(--insets--md);margin-bottom:var(--insets--md)}
[class*=mv05]{margin-top:var(--insets--big);margin-bottom:var(--insets--big)}
[class*=mv06]{margin-top:var(--insets--x-big);margin-bottom:var(--insets--x-big)}
[class*=mv07]{margin-top:var(--insets--xx-big);margin-bottom:var(--insets--xx-big)}
[class*=mv08]{margin-top:var(--insets--xxx-big);margin-bottom:var(--insets--xxx-big)}
[class*=mv09]{margin-top:var(--insets--lg);margin-bottom:var(--insets--lg)}
[class*=mv10]{margin-top:var(--insets--x-lg);margin-bottom:var(--insets--x-lg)}
[class*=mv11]{margin-top:var(--insets--xx-lg);margin-bottom:var(--insets--xx-lg)}
[class*=mv12]{margin-top:var(--insets--xxx-lg);margin-bottom:var(--insets--xxx-lg)}
[class*=mv13]{margin-top:var(--insets--huge);margin-bottom:var(--insets--huge)}
[class*=mv14]{margin-top:var(--insets--x-huge);margin-bottom:var(--insets--x-huge)}
[class*=mv15]{margin-top:var(--insets--xx-huge);margin-bottom:var(--insets--xx-huge)}
[class*=mv16]{margin-top:var(--insets--xxx-huge);margin-bottom:var(--insets--xxx-huge)}
[class*=mhc]{margin-inline:auto}
[class*=mh00]{margin-left:0;margin-right:0}
[class*=mh01]{margin-left:var(--insets--xx-sm);margin-right:var(--insets--xx-sm)}
[class*=mh02]{margin-left:var(--insets--x-sm);margin-right:var(--insets--x-sm)}
[class*=mh03]{margin-left:var(--insets--sm);margin-right:var(--insets--sm)}
[class*=mh04]{margin-left:var(--insets--md);margin-right:var(--insets--md)}
[class*=mh05]{margin-left:var(--insets--big);margin-right:var(--insets--big)}
[class*=mh06]{margin-left:var(--insets--x-big);margin-right:var(--insets--x-big)}
[class*=mh07]{margin-left:var(--insets--xx-big);margin-right:var(--insets--xx-big)}
[class*=mh08]{margin-left:var(--insets--xxx-big);margin-right:var(--insets--xxx-big)}
[class*=mh09]{margin-left:var(--insets--lg);margin-right:var(--insets--lg)}
[class*=mh10]{margin-left:var(--insets--x-lg);margin-right:var(--insets--x-lg)}
[class*=mh11]{margin-left:var(--insets--xx-lg);margin-right:var(--insets--xx-lg)}
[class*=mh12]{margin-left:var(--insets--xxx-lg);margin-right:var(--insets--xxx-lg)}
[class*=mh13]{margin-left:var(--insets--huge);margin-right:var(--insets--huge)}
[class*=mh14]{margin-left:var(--insets--x-huge);margin-right:var(--insets--x-huge)}
[class*=mh15]{margin-left:var(--insets--xx-huge);margin-right:var(--insets--xx-huge)}
[class*=mh16]{margin-left:var(--insets--xxx-huge);margin-right:var(--insets--xxx-huge)}
[class*=m00]{margin:0}
[class*=m01]{margin:var(--insets--xx-sm)}
[class*=m02]{margin:var(--insets--x-sm)}
[class*=m03]{margin:var(--insets--sm)}
[class*=m04]{margin:var(--insets--md)}
[class*=m05]{margin:var(--insets--big)}
[class*=m06]{margin:var(--insets--x-big)}
[class*=m07]{margin:var(--insets--xx-big)}
[class*=m08]{margin:var(--insets--xxx-big)}
[class*=m09]{margin:var(--insets--lg)}
[class*=m10]{margin:var(--insets--x-lg)}
[class*=m11]{margin:var(--insets--xx-lg)}
[class*=m12]{margin:var(--insets--xxx-lg)}
[class*=m13]{margin:var(--insets--huge)}
[class*=m14]{margin:var(--insets--x-huge)}
[class*=m15]{margin:var(--insets--xx-huge)}
[class*=m16]{margin:var(--insets--xxx-huge)}
[class*=pt00]{padding-top:0}
[class*=pt01]{padding-top:var(--insets--xx-sm)}
[class*=pt02]{padding-top:var(--insets--x-sm)}
[class*=pt03]{padding-top:var(--insets--sm)}
[class*=pt04]{padding-top:var(--insets--md)}
[class*=pt05]{padding-top:var(--insets--big)}
[class*=pt06]{padding-top:var(--insets--x-big)}
[class*=pt07]{padding-top:var(--insets--xx-big)}
[class*=pt08]{padding-top:var(--insets--xxx-big)}
[class*=pt09]{padding-top:var(--insets--lg)}
[class*=pt10]{padding-top:var(--insets--x-lg)}
[class*=pt11]{padding-top:var(--insets--xx-lg)}
[class*=pt12]{padding-top:var(--insets--xxx-lg)}
[class*=pt13]{padding-top:var(--insets--huge)}
[class*=pt14]{padding-top:var(--insets--x-huge)}
[class*=pt15]{padding-top:var(--insets--xx-huge)}
[class*=pt16]{padding-top:var(--insets--xxx-huge)}
[class*=pb00]{padding-bottom:0}
[class*=pb01]{padding-bottom:var(--insets--xx-sm)}
[class*=pb02]{padding-bottom:var(--insets--x-sm)}
[class*=pb03]{padding-bottom:var(--insets--sm)}
[class*=pb04]{padding-bottom:var(--insets--md)}
[class*=pb05]{padding-bottom:var(--insets--big)}
[class*=pb06]{padding-bottom:var(--insets--x-big)}
[class*=pb07]{padding-bottom:var(--insets--xx-big)}
[class*=pb08]{padding-bottom:var(--insets--xxx-big)}
[class*=pb09]{padding-bottom:var(--insets--lg)}
[class*=pb10]{padding-bottom:var(--insets--x-lg)}
[class*=pb11]{padding-bottom:var(--insets--xx-lg)}
[class*=pb12]{padding-bottom:var(--insets--xxx-lg)}
[class*=pb13]{padding-bottom:var(--insets--huge)}
[class*=pb14]{padding-bottom:var(--insets--x-huge)}
[class*=pb15]{padding-bottom:var(--insets--xx-huge)}
[class*=pb16]{padding-bottom:var(--insets--xxx-huge)}
[class*=pr00]{padding-right:0}
[class*=pr01]{padding-right:var(--insets--xx-sm)}
[class*=pr02]{padding-right:var(--insets--x-sm)}
[class*=pr03]{padding-right:var(--insets--sm)}
[class*=pr04]{padding-right:var(--insets--md)}
[class*=pr05]{padding-right:var(--insets--big)}
[class*=pr06]{padding-right:var(--insets--x-big)}
[class*=pr07]{padding-right:var(--insets--xx-big)}
[class*=pr08]{padding-right:var(--insets--xxx-big)}
[class*=pr09]{padding-right:var(--insets--lg)}
[class*=pr10]{padding-right:var(--insets--x-lg)}
[class*=pr11]{padding-right:var(--insets--xx-lg)}
[class*=pr12]{padding-right:var(--insets--xxx-lg)}
[class*=pr13]{padding-right:var(--insets--huge)}
[class*=pr14]{padding-right:var(--insets--x-huge)}
[class*=pr15]{padding-right:var(--insets--xx-huge)}
[class*=pr16]{padding-right:var(--insets--xxx-huge)}
[class*=pl00]{padding-left:0}
[class*=pl01]{padding-left:var(--insets--xx-sm)}
[class*=pl02]{padding-left:var(--insets--x-sm)}
[class*=pl03]{padding-left:var(--insets--sm)}
[class*=pl04]{padding-left:var(--insets--md)}
[class*=pl05]{padding-left:var(--insets--big)}
[class*=pl06]{padding-left:var(--insets--x-big)}
[class*=pl07]{padding-left:var(--insets--xx-big)}
[class*=pl08]{padding-left:var(--insets--xxx-big)}
[class*=pl09]{padding-left:var(--insets--lg)}
[class*=pl10]{padding-left:var(--insets--x-lg)}
[class*=pl11]{padding-left:var(--insets--xx-lg)}
[class*=pl12]{padding-left:var(--insets--xxx-lg)}
[class*=pl13]{padding-left:var(--insets--huge)}
[class*=pl14]{padding-left:var(--insets--x-huge)}
[class*=pl15]{padding-left:var(--insets--xx-huge)}
[class*=pl16]{padding-left:var(--insets--xxx-huge)}
[class*=pv00]{padding-top:0;padding-bottom:0}
[class*=pv02]{padding-top:var(--insets--x-sm);padding-bottom:var(--insets--x-sm)}
[class*=pv03]{padding-top:var(--insets--sm);padding-bottom:var(--insets--sm)}
[class*=pv04]{padding-top:var(--insets--md);padding-bottom:var(--insets--md)}
[class*=pv05]{padding-top:var(--insets--big);padding-bottom:var(--insets--big)}
[class*=pv06]{padding-top:var(--insets--x-big);padding-bottom:var(--insets--x-big)}
[class*=pv07]{padding-top:var(--insets--xx-big);padding-bottom:var(--insets--xx-big)}
[class*=pv08]{padding-top:var(--insets--xxx-big);padding-bottom:var(--insets--xxx-big)}
[class*=pv09]{padding-top:var(--insets--lg);padding-bottom:var(--insets--lg)}
[class*=pv10]{padding-top:var(--insets--x-lg);padding-bottom:var(--insets--x-lg)}
[class*=pv11]{padding-top:var(--insets--xx-lg);padding-bottom:var(--insets--xx-lg)}
[class*=pv12]{padding-top:var(--insets--xxx-lg);padding-bottom:var(--insets--xxx-lg)}
[class*=pv13]{padding-top:var(--insets--huge);padding-bottom:var(--insets--huge)}
[class*=pv14]{padding-top:var(--insets--x-huge);padding-bottom:var(--insets--x-huge)}
[class*=pv15]{padding-top:var(--insets--xx-huge);padding-bottom:var(--insets--xx-huge)}
[class*=pv16]{padding-top:var(--insets--xxx-huge);padding-bottom:var(--insets--xxx-huge)}
[class*=pr00]{padding-left:0;padding-right:0}
[class*=pr01]{padding-left:var(--insets--xx-sm);padding-right:var(--insets--xx-sm)}
[class*=pr02]{padding-left:var(--insets--x-sm);padding-right:var(--insets--x-sm)}
[class*=pr03]{padding-left:var(--insets--sm);padding-right:var(--insets--sm)}
[class*=pr04]{padding-left:var(--insets--md);padding-right:var(--insets--md)}
[class*=pr05]{padding-left:var(--insets--big);padding-right:var(--insets--big)}
[class*=pr06]{padding-left:var(--insets--x-big);padding-right:var(--insets--x-big)}
[class*=pr07]{padding-left:var(--insets--xx-big);padding-right:var(--insets--xx-big)}
[class*=pr08]{padding-left:var(--insets--xxx-big);padding-right:var(--insets--xxx-big)}
[class*=pr09]{padding-left:var(--insets--lg);padding-right:var(--insets--lg)}
[class*=pr10]{padding-left:var(--insets--x-lg);padding-right:var(--insets--x-lg)}
[class*=pr11]{padding-left:var(--insets--xx-lg);padding-right:var(--insets--xx-lg)}
[class*=pr12]{padding-left:var(--insets--xxx-lg);padding-right:var(--insets--xxx-lg)}
[class*=pr13]{padding-left:var(--insets--huge);padding-right:var(--insets--huge)}
[class*=pr14]{padding-left:var(--insets--x-huge);padding-right:var(--insets--x-huge)}
[class*=pr15]{padding-left:var(--insets--xx-huge);padding-right:var(--insets--xx-huge)}
[class*=pr16]{padding-left:var(--insets--xxx-huge);padding-right:var(--insets--xxx-huge)}
[class*=p00]{padding:0}
[class*=p01]{padding:var(--insets--xx-sm)}
[class*=p02]{padding:var(--insets--x-sm)}
[class*=p03]{padding:var(--insets--sm)}
[class*=p04]{padding:var(--insets--md)}
[class*=p05]{padding:var(--insets--big)}
[class*=p06]{padding:var(--insets--x-big)}
[class*=p07]{padding:var(--insets--xx-big)}
[class*=p08]{padding:var(--insets--xxx-big)}
[class*=p09]{padding:var(--insets--lg)}
[class*=p10]{padding:var(--insets--x-lg)}
[class*=p11]{padding:var(--insets--xx-lg)}
[class*=p12]{padding:var(--insets--xxx-lg)}
[class*=p13]{padding:var(--insets--huge)}
[class*=p14]{padding:var(--insets--x-huge)}
[class*=p15]{padding:var(--insets--xx-huge)}
[class*=p16]{padding:var(--insets--xxx-huge)}
[class*=wfp]{width:100%}
[class*=hfp]{height:100%}
[class*=wfv]{width:100vw}
[class*=hfv]{height:100vh}
[class*=epf]{position:fixed}
[class*=epr]{position:relative}
[class*=epa]{position:absolute}
[class*=epn]{position:static}
[class*=eps]{position:sticky}
[class*=zi0]{z-index:9999}
[class*=zi1]{z-index:1}
[class*=zi2]{z-index:2}
[class*=zi3]{z-index:3}
[class*=zi4]{z-index:4}
[class*=zi5]{z-index:5}
h1,h2,h3,h4,h5,h6,p{margin-top:0;margin-bottom:0}
[class*=ds1]{font-size:var(--typography--display1);font-weight:700;line-height:1.2}
[class*=ds2]{font-size:var(--typography--display2);font-weight:700;line-height:1.2}
[class*=hd1],h1{font-size:var(--typography--h1);font-weight:600;line-height:1.2}
[class*=hd2],h2{font-size:var(--typography--h2);font-weight:600;line-height:1.2}
[class*=hd3],h3{font-size:var(--typography--h3);font-weight:600;line-height:1.2}
[class*=hd4],h4{font-size:var(--typography--h4);font-weight:600;line-height:1.2}
[class*=hd5],h5{font-size:var(--typography--h5);font-weight:600;line-height:1.2}
[class*=hd6],h6{font-size:var(--typography--h6);font-weight:600;line-height:1.2}
[class*=tx1]{font-size:var(--typography--text1);font-weight:400;line-height:1.5}
[class*=tx2]{font-size:var(--typography--text2);font-weight:400;line-height:1.5}
[class*=tx3]{font-size:var(--typography--text3);font-weight:400;line-height:1.5}
[class*=tx4]{font-size:var(--typography--text4);font-weight:400;line-height:1.5}
[class*=fw1]{font-weight:100}
[class*=fw2]{font-weight:200}
[class*=fw3]{font-weight:300}
[class*=fw4]{font-weight:400}
[class*=fw5]{font-weight:500}
[class*=fw6]{font-weight:600}
[class*=fw7]{font-weight:700}
[class*=fw8]{font-weight:800}
[class*=fw9]{font-weight:900}
[class*=ta1]{text-align:left}
[class*=ta2]{text-align:center}
[class*=ta3]{text-align:right}
[class*=lh0]{line-height:1}
[class*=lh1]{line-height:1.1}
[class*=lh2]{line-height:1.2}
[class*=lh3]{line-height:1.3}
[class*=lh4]{line-height:1.4}
[class*=lh5]{line-height:1.5}
[class*=ttc]{text-transform:capitalize}
[class*=ttl]{text-transform:lowercase}
[class*=ttu]{text-transform:uppercase}
[class*=tww]{text-wrap:wrap}
[class*=twb]{text-wrap:balance}
[class*=twp]{text-wrap:pretty}